@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 70.19 24.75% 94.89%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 83.77 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --primary: 67.92 91.49% 54.82%;
    --primary-foreground: 165 44.44% 14.12%;
    --secondary: 162.86 5.98% 77.06%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 83.77 79.84% 96.18%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 85.33% 63.28%;
    --destructive-foreground: 0 0% 98%;
    --ring: 65.58 95.56% 55.88%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 72.45 16.92% 5.92%;
    --card-foreground: 0 0% 95%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --primary: 67.92 86.89% 49.39%;
    --primary-foreground: 144.9 72.08% 12.07%;
    --secondary: 79.25 55.1% 19.34%;
    --secondary-foreground: 0 0% 98%;
    --accent: 95.09 12.59% 12.3%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 76.74% 38.3%;
    --destructive-foreground: 0 50.08% 87.67%;
    --ring: 65.58 95.56% 55.88%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.rotating-word_rotate-words-5 {
  animation: rotating-word_rotate_words_5__8iX5A 4s infinite;
}

@keyframes rotating-word_rotate_words_5__8iX5A {
  0% {
    transform: translateY(-80%);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }

  25% {
    transform: translateY(-60%);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }

  50% {
    transform: translateY(-40%);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }

  75% {
    transform: translateY(-20%);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }

  to {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }
}
